.view-attributes-container {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .view-attributes-details {
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .view-attributes-details h5 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-color);
  }
  
  .view-attributes-details .row {
    margin-bottom: 1rem;
  }
  
  .view-attributes-details .col {
    font-size: 1rem;
    color: var(--text-color);
  }
  
  .view-attributes-details .col:first-child {
    font-weight: 600;
    color: var(--text-color);
  }