/* Container styling */
.users-page-container {
  background-color: var(--background-color); /* Use theme background color */
  padding: 2rem; /* Add padding around the container */
}

/* Heading styling */
.users-page-container h2 {
  font-size: 1.75rem; /* Increase font size */
  font-weight: 500; /* Medium font weight */
  margin-bottom: 1.5rem; /* Add margin below the heading */
  color: var(--text-color); /* Use theme text color */
}

/* Button styling */
.users-page-container .btn-primary {
  background-color: var(--primary-color); /* Use theme primary color */
  border-color: var(--primary-color); /* Use theme primary color */
  padding: 0.5rem 1rem; /* Add padding inside the button */
  font-size: 1rem; /* Set font size */
  border-radius: 0.375rem; /* Bootstrap's rounded */
  color: var(--light-color); /* Use theme light color for text */
}

/* Quick Actions */
.add-btn {
    transition: transform 0.3s ease;
}

.add-btn:hover {
    transform: scale(1.05);
}